<h3>Sign in</h3>
<form action="/admin" method="post">
  <label for="username"><b>Username</b></label>
  <input type="text" name="username" placeholder="Enter Username" />

  <label for="password"><b>Password</b></label>
  <input type="password" name="password" placeholder="Enter Username" />

  <input type="submit" value="Log in " class="btn" />
</form>
<br />
<!-- 
<h3>Sign Up</h3>
<form action="/SignUp" method="post">
  <label for="username"><b>Username</b></label>
  <input type="text" name="username" placeholder="Enter Username" />

  <label for="email"><b>Email</b></label>
  <input type="email" name="email" placeholder="Enter Email" />

  <label for="password"><b>Password</b></label>
  <input type="password" name="password" placeholder="Enter Password" />

  <input type="submit" value="Log in " class="btn" />
</form> -->
